*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgb(205, 255, 235);
    color: #fff;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: rgb(7, 30, 35);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h3{
    margin-left: 40px;
    font-size: 28px;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
}
ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    font-size: 15px;
}
ul li:hover{
    cursor: pointer;
    color: aqua;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.main-menu{
    margin-right: 30px;
}
.menuBtn, .closeBtn{
    font-size: 30px;
    margin: 0px 20px;
    display: none;
}

/* Media Queries */
@media only screen and (max-width: 700px){
    ul{
        display: none;
    }
    ul li{
        display: block;
        margin: 20px;
    }
    .menuBtn{
        display: block;
    }
    h3{
        font-size: 22px;
    }
    #menu{
        width: 100%;
        background: rgb(11,46,54);
        position: absolute;
        top: 60px;
        right: 0;
        text-align: center;
    }
}